@import "./modules/reset.scss";
@import "../../node_modules/materialize-css/sass/materialize";

$page-margins: 5%;
$icon-sidebar: 6em;

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: relative; /* This line makes the footer work right */
  min-height: 100%;  /* This line makes the footer work right */
  padding-bottom: 6rem;
  margin: 0;
}

// Side nav
#icon-side-nav {
  width: $icon-sidebar;
}

.side-nav {
  @extend .blue-grey, .lighten-4;
}

.content-center {
  padding-left: $icon-sidebar;  // Offset for Sidebar
  margin-left: $page-margins;
  margin-right: $page-margins;
}

#app {
  margin-top: 10px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}